body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
}

span, a {
    font-size: 8pt;
}

#banner {
    background: url(images/banner.png);
    background-repeat: repeat-x;
    background-size: 100%;
    height: 150px;
    text-align: center;
    padding: 33px 0;
}

#titletext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
    font-weight: bold;
    color: white;
    margin: 0;
}

main {
    width: 66%;
    border: 4px solid #2d2d2d;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.rounded-shadow-border {
    border-radius: 20px;
    box-shadow: 0 0 5px #2d2d2d;
}

#rating {
    width: 300px;
    height: 100%;
    float: left;
    text-align: center;
}

#ratingpercent {
    font-size: 48pt;
    color: #2d2d2d;
    position: relative;
    top: -125px;
    left: 100px;
    z-index: 2;
}

#bigtomato {
    z-index: -2;
}

#reviews {
    background: #e1d697;
    width: 500px;
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
}

.revcolumn {
    width: 47%;
    padding: 5px;
}

.revcard {
    background: white;
    padding: 2%;
    margin: 3% 0%;
    height: 12em;
    position: relative;

}

.icon {
    height: 12px;
}

.critic, .publication {
    font-style: italic;
}

.tomato {
    position: absolute;
    top: 10px;
    left: 10px;
}

.critic {
    position: absolute;
    top: 10px;
    left: 30px;
}

.publication {
    position: absolute;
    top: 30px;
    left: 10px;
}

.review {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 90%
}

.rating {
    position: absolute;
    bottom: 30px;
    left: 10px;
}

.stars {
    position: absolute;
    bottom: 30px;
    right: 10px;
}

.fullrev {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#sidebar {
    display: inline-block;
    background: #a2b964;
    width: 25%;
    position: relative;
    left: 72.5%;
    bottom: 47rem;
}