body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
}

span, a, p {
    font-size: 8pt;
}

#banner {
    background: url(images/banner.png);
    background-repeat: repeat-x;
    background-size: 100%;
    height: 100px;
    text-align: center;
    padding: 33px 0;
}

#titletext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
    font-weight: bold;
    color: white;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
}

.content {
    width: 66%;
    border: 2px solid #2d2d2d;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2%;
}

.rounded-shadow-border {
    border-radius: 20px;
    box-shadow: 0 0 5px #2d2d2d;
}

#rating {
    width: 10em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
}

#ratingtomato {
    display: flex;
    justify-content: center;
}

#ratingpercent {
    font-size: 3em;
    color: #2d2d2d;
    position: relative;
}

#bigtomato {
    width: 6em;
}

.poster-card {
    max-height: 50%;
}

.poster {
    width: 80%;
    margin: 10%;
}

.caption {
    font-weight: bold;
    margin: 1px;
}

#reviews {
    background: #e1d697;
    width: 60%;
    height: 95%;
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
}

.revcolumn {
    width: 47%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.revcard {
    background: white;
    padding: 4%;
    position: relative;
    margin: 3% 0;
}

.icon {
    height: 12px;
}

.critic, .publication {
    font-style: italic;
}

.tomato {
    position: relative;
    left: 5px;
    top: 1px;
}

.critic {
    position: relative;
    left: 5px;
}

.publication {
    position: relative;
    left: 5px;
    margin: 2px 0;
}

.review {
    position: relative;
    left: 5px;
    width: 90%;
    font-weight: bold;
}

.ratingline {
    position: relative;
    left: 5px;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.fullrev {
    position: relative;
    left: 5px;
}

#sidebar {
    display: inline-block;
    background: #a2b964;
    width: 21%;
    padding: 3%;
}

.dl-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 3px 0;
}

dt, dd {
    font-size: 8pt;
    margin: 1px;
}

dt {
    font-weight: bolder;
    position: relative;
}

dd {
    text-align: right;
}

h2 {
    margin: 1% 0;
}

#rt-link {
    text-align: center;
}

a:link {
    font-weight: bold;
    color: maroon;
}

a:hover {
    text-shadow: 0 1px 2px #888;
}

a:visited {
    color: #511371;
}

footer {
    background: #2d2d2d;
    text-align: center;
    padding: 1%;
    margin: 1% 0 0 0;
}

.counttext {
    color: white;
    font-size: 12pt;
}